<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Samsung_Jellyfin_Installer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Samsung_Jellyfin_Installer.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Samsung_Jellyfin_Installer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Samsung_Jellyfin_Installer.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Samsung_Jellyfin_Installer.Settings>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="Certificate" serializeAs="String">
                <value>Jelly2Sams</value>
            </setting>
            <setting name="RememberCustomIP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomWgtPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DeletePreviousInstall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserCustomIP" serializeAs="String">
                <value />
            </setting>
            <setting name="ForceSamsungLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RTLReading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JellyfinIP" serializeAs="String">
                <value />
            </setting>
            <setting name="AudioLanguagePreference" serializeAs="String">
                <value />
            </setting>
            <setting name="SubtitleLanguagePreference" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableBackdrops" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableThemeSongs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableThemeVideos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackdropScreensaver" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DetailsBanner" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CinemaMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NextUpEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableExternalVideoPlayers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipIntros" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoPlayNextEpisode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RememberAudioSelections" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RememberSubtitleSelections" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlayDefaultAudioTrack" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedTheme" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedSubtitleMode" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="ConfigUpdateMode" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="JellyfinApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="JellyfinUserId" serializeAs="String">
                <value />
            </setting>
            <setting name="UserAutoLogin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DistributorsEndpoint_V3" serializeAs="String">
                <value>https://svdca.samsungqbe.com/apis/v3/distributors</value>
            </setting>
            <setting name="AuthorEndpoint_V3" serializeAs="String">
                <value>https://svdca.samsungqbe.com/apis/v3/authors</value>
            </setting>
        </Samsung_Jellyfin_Installer.Settings>
        <Samsung_Jellyfin_Installer.Config>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="Certificate" serializeAs="String">
                <value>Jelly2Sams</value>
            </setting>
            <setting name="RememberCustomIP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveOld" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomWgtPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DeletePreviousInstall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserCustomIP" serializeAs="String">
                <value />
            </setting>
        </Samsung_Jellyfin_Installer.Config>
    </userSettings>
    <applicationSettings>
        <Samsung_Jellyfin_Installer.Settings>
            <setting name="ReleasesUrl" serializeAs="String">
                <value>https://api.github.com/repos/jeppevinkel/jellyfin-tizen-builds/releases</value>
            </setting>
            <setting name="AuthorEndpoint" serializeAs="String">
                <value>https://dev.tizen.samsung.com/apis/v2/authors</value>
            </setting>
            <setting name="DistributorsEndpoint_V1" serializeAs="String">
                <value>https://dev.tizen.samsung.com/apis/v1/distributors</value>
            </setting>
            <setting name="DistributorsEndpoint_V2" serializeAs="String">
                <value>https://dev.tizen.samsung.com/apis/v2/distributors</value>
            </setting>
            <setting name="AppVersion" serializeAs="String">
                <value>v1.7.5</value>
            </setting>
            <setting name="TizenCliUrl" serializeAs="String">
                <value>https://download.tizen.org/sdk/Installer/tizen-studio_6.1/web-cli_Tizen_Studio_6.1_windows-64.exe</value>
            </setting>
            <setting name="JellyfinAvRelease" serializeAs="String">
                <value>https://api.github.com/repos/PatrickSt1991/Samsung-Jellyfin-Installer/releases/239769070</value>
            </setting>
        </Samsung_Jellyfin_Installer.Settings>
        <Samsung_Jellyfin_Installer.Config>
            <setting name="ReleasesUrl" serializeAs="String">
                <value>https://api.github.com/repos/jeppevinkel/jellyfin-tizen-builds/releases</value>
            </setting>
            <setting name="AuthorEndpoint" serializeAs="String">
                <value>https://dev.tizen.samsung.com/apis/v2/authors</value>
            </setting>
            <setting name="DistributorsEndpoint_V1" serializeAs="String">
                <value>https://dev.tizen.samsung.com/apis/v1/distributors</value>
            </setting>
            <setting name="DistributorsEndpoint_V2" serializeAs="String">
                <value>https://dev.tizen.samsung.com/apis/v2/distributors</value>
            </setting>
            <setting name="TizenCliUrl" serializeAs="String">
                <value>https://download.tizen.org/sdk/Installer/tizen-studio_5.5/web-cli_Tizen_Studio_5.5_windows-64.exe</value>
            </setting>
            <setting name="AppVersion" serializeAs="String">
                <value>v1.5.8-beta</value>
            </setting>
        </Samsung_Jellyfin_Installer.Config>
    </applicationSettings>
</configuration>